body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.link-button{
    background-image: linear-gradient(red, tomato);
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}
a:hover{
    background-image: linear-gradient(blue, orange);
}
p{
    color: rgb(121, 115, 115);
}
.flex-container{
    display: flex;
    margin-bottom: 10%
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
    padding-right: 100px;
}
.orange-title{
    color: orange;
}
.experience-item{
   width: 50%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 3%;
   padding-right: 2px;
   border-left: 7px solid rgba(255, 99, 71, 0.884);
   box-shadow: 10px 10px 48px gray;
   border-radius: 10px;
   
}
.experience-aria{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
}
