body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.link-button{
    background-image: linear-gradient(red, tomato);
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}
a:hover{
    background-image: linear-gradient(blue, orange);
}
p{
    color: rgb(121, 115, 115);
}
section{
    display: flex;
    margin-bottom: 10%
}
.text-width{
    width: 50%;
    padding-left:5%;
}
.text-width img{
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
    padding-right: 100px;
}
